<div class="bg_main">
      <div class="row">
        <div class="large-6 columns large-centered">
        	<br />
            <%= link_to (image_tag "logo.png"), root_url %>
          <br />
        </div>
        <br /><br /><br /><br />
        <div class="large-12 columns large-centered">
         <h1 style="text-align:center;font-weight:900; color:white;text-shadow: 0px 0px 5px #000">SUPPORT CAUSES YOU CARE ABOUT!</h1>
          <p style="text-align:center; font-size:22px; color:white;text-shadow: 0px 0px 5px #000">EasyFunds allows you to find and support causes that matters to you. From social fundraisers to kickstarter campaigns, there are a variety of causes to support.</p>
        </div>
    </div>
    </div>