  <div style="background-color:black;;">
    <div class="row">
      <div class="large-12 columns">
       <p style="font-size:12px; text-align:center; color:white;margin-top:10px;">FAQ | Blog<br />All Rights Reserved &copy; 2013 EasyFunds<br />Built by <a href="https://www.twitter.com/edemkumodzi" target="_blank">Edem</a>, <a href="https://twitter.com/philip_nunoo" target="_blank">Philip</a> & <a href="https://twitter.com/Humph_Pietersen" target="_blank">Humphrey</a> </p>
      </div>
    </div>
    </div>


    
    <%= javascript_include_tag "application" %>