 <% provide(:title, 'EasyFunds | Home') %>

<% for campaign in @campaigns %>

<div class="large-4 columns left">
	<ul class="pricing-table">
    <li class="description"><%= link_to (image_tag (campaign.image_url)), view_campaign_url(campaign) %></li>
  <li class="title"><%= campaign.title %></li>
   <li class="description"><div class="progress success round"><%= "<span class='meter' style='width:".html_safe + campaign.final_ratio.to_f.to_s + "%'></span>".html_safe %></div></li>
  <li class="bullet-item">Date Due: <%= campaign.date_due.strftime("%d %B %Y") %></li>
 
</ul>
</div>
<% end %>
<!--
<div class="large-4 columns">
	<ul class="pricing-table">
  <li class="title">Title</li>
  <li class="price">100000</li>
  <li class="description">Description</li>
  <li class="bullet-item">Organizer Name</li>
 
  <li class="cta-button"><a class="small button" href="#">Support Cause</a></li>
</ul>
</div>

<div class="large-4 columns">
	<ul class="pricing-table">
  <li class="title">Title</li>
  <li class="price">100000</li>
  <li class="description">Description</li>
  <li class="bullet-item">Organizer Name</li>
 
  <li class="cta-button"><a class="small button" href="#">Support Cause</a></li>
</ul>
</div>

<div class="large-4 columns">
	<ul class="pricing-table">
  <li class="title">Title</li>
  <li class="price">100000</li>
  <li class="description">Description</li>
  <li class="bullet-item">Organizer Name</li>
 
  <li class="cta-button"><a class="small button" href="#">Support Cause</a></li>
</ul>
</div>

<div class="large-4 columns">
	<ul class="pricing-table">
  <li class="title">Title</li>
  <li class="price">100000</li>
  <li class="description">Description</li>
  <li class="bullet-item">Organizer Name</li>
 
  <li class="cta-button"><a class="small button" href="#">Support Cause</a></li>
</ul>
</div>

<div class="large-4 columns">
	<ul class="pricing-table">
  <li class="title">Title</li>
  <li class="price">100000</li>
  <li class="description">Description</li>
  <li class="bullet-item">Organizer Name</li>
 
  <li class="cta-button"><a class="small button" href="#">Support Cause</a></li>
</ul>
</div>-->